
.sections {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: calc(100vh + 120px);

  h1, h2 {
    font-size: 3rem;
    font-weight: 400;
    border-bottom: 1px solid var(--main-color);
  }

  .button-wrapper {
    text-align: right;

    button {
      border-radius: 18px !important;
      margin-left: auto;
    }
  }


  .invalid + invalid_feedback {
    display: block;
  }


  &.section-2 > div {
    width: calc(100% - 30px);
    max-width: 1600px;
  }


  input > span {
    display: none;
  }

  input[type="email"].invalid {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 50px;
    }
  }

  &.section-4,
  &.section-3 {
    p {
      &:first-letter {
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }



  .logout-button {
    margin-left: auto;
  }

}


.section-3 {
  footer {
    display: none!important;
  }
}
.gender-title-wrapper {
  border-bottom: 1px solid var(--main-color);
}

.section-3 {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  .title {
    align-self: flex-start;
    margin-bottom: auto;
  }

  .texts {
    //margin-bottom: 20vh;
    width: 100%;

    ul {
      display: block;
      //align-content: center;
      //justify-content: center;
      width: 100%;
      margin-left: 0;
      position: relative;
      //flex-wrap: wrap;
      height: 350px;
      align-items: center;
      padding: 5px;
      overflow-x: auto;
      border: 1px dashed white;
    }

    margin-bottom: 10px;
  }

  .drag-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 10px;
    padding: 0 15px;


    .drag
    {
      width: calc(100% / 5 - 6px);
      min-height: 200px;
      border: 1px dashed var(--main-color);
      position: relative;

      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 18px;
      overflow-y: auto;
      display: none;

      &.show {
        display: flex;
        width: calc(100% - 6px);
      }

      h4 {
        color: var(--main-color);
        text-align: center;
      }

      ul {
        padding: 10px;
        height: 100%;
        width: 100%;
        position: absolute;
        list-style: none;

      }

      .drag-texts {
        height: auto;
        width: 90%;
        margin: 5px 0;

        & > div {
          width: 86%;
        }

        p {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 99%;
        }
      }


    }

    .open-drag {
      width: calc(100% / 5 - 6px);
      padding: 10px 0;
      display: flex;
    }
  }


}

.section-2, .section-3, .section-4 {
  display: none;
}


li {
  &.drag-texts {
    list-style: none;
    background: var(--main-color);
    border-radius: 18px;
    color: var(--main-bg-color);
    cursor: move;
    font-size: 1rem;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    width: 90%;
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }

    h6 {
      margin: 0 0 5px 0;
      font-size: 1rem;
      font-style: italic;
    }

    & > div {
       h6 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 98%;
      }

      p {
        width: 98%;
        line-height: 1.2;


        &:first-letter {
          color: var(--main-bg-color);
          font-size: 1rem;
          font-weight: normal;
        }
      }
    }


    .mif-info {
      background: transparent;
      color: orange;
      cursor: pointer;
      border: none;
    }
  }


}

.dialog {
  border-radius: 18px !important;
  .dialog-content {
    p {
      line-height: 1.6;
      text-align: justify;
    }
  }

  .dialog-actions {
    button {
      border-radius: 18px !important;
    }
  }
}


.hint {
  background: white;
  font-size: 1.3rem;
  border: 1px dashed grey;
  border-radius: 18px;
}

.required {
  font-size: 0.9rem;
  font-weight: 300;
}

.validation {
  display: none;
  font-size: 0.9rem;
  position: absolute;
  left: 30px;
  bottom: 31px;
  color: var(--error-color);
  background: var(--main-bg-color);
  width: 100%;
}

.section-2-select {
  .validation {
    bottom: 0;
    left: 0;
  }
}

.invalid + .icon + .informer {
  display: none;
}


.dialog {
  &.shadow-on {
    overflow-y: scroll;
    width: 90% !important;
    max-width: 800px !important;
    color: var(--main-bg-color);

    p::first-letter {
      color: var(--main-bg-color);
    }
  }
}

.select {
  border-radius: 18px;

  .select-input,
  .drop-container .active {
    color: var(--main-bg-color);
  }
}

.drop-container {
  .option-list {
    li {
      &.active {
        background: var(--main-bg-color);

        a {
          color: var(--main-color) !important;
        }
      }

      a:not([class]):not([href]):not([tabindex]) {
        color: var(--main-bg-color);
      }
    }
  }

}

.radio.style2 input[type=radio]:checked ~ .check {
  border-color: white;
}

.radio.style2 .check:before {
  background: var(--main-bg-color);
  border-color: var(--main-bg-color);
}

.check-box-agree {
  input[type=checkbox]:checked~.check {
    background: var(--main-color);
    border-color: var(--main-color);
  }

  .check {
    border-radius: 18px;

    &:before {
      border-color: var(--main-bg-color);
    }
  }
}

body .select .option-list a {
  line-height: 100%;
}


@media screen and (min-width: 865px) {
  .section-3 {
    .drag-wrapper {
      .drag {
        display: flex;
      }

      .open-drag {
        display: none;
      }
    }
    footer {
      display: block;
    }
  }
  li {
    &.drag-texts {
      width: calc(75% - 10px);
    }
  }
  .section-3 {
    .texts {
      ul {
        //display: flex;
      }
    }

    li {
      &.drag-texts {
        margin: 5px;
        width: calc(50% - 10px);
      }
    }
  }


}

@media screen and (min-width: 1200px) {
  .section-3 {
    .texts {
      ul {
        overflow-x: hidden;
      }
    }

    li {
      &.drag-texts {
        width: calc(25% - 10px);
      }
    }
  }
}

.survey-completed-next {
  transition: top 0.4s ease-in-out;
  top: -100%;
  width: 300px;
  border-radius: 18px !important;
  margin: 0 auto;
  min-height: 80px;
  padding: 10px;
  display: flex;
  background: rgba(255, 255, 255, 0.95);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  left: 0;
  right: 0;

  h4 {
    color: var(--main-bg-color);
    margin-bottom: 4px;
  }
  &.show {
    top: 0;
  }

  button.button.primary {
    background-color: transparent!important;
    border: transparent!important;
    display: block;
    margin: 0 auto;

    &:hover {
      border: 1px solid var(--main-bg-color)!important;
      color: var(--main-bg-color)!important;
    }
  }

}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    width: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }

}

